/* Common Styles */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

:root {
    --green: #6B705C;
    --blue: #5C6B70;
    --purple: #705C6B;
    --white: #dad7cd;
}

/* .center {
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* End of Common Styles */

/* Section 1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background-color: var(--green);
    /* background-image: url('images/bg1.jpg'); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

/* Logo */
.logo {
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.logo i {
    font-size: 5rem;
    color: var(--white);
}
/* End of Logo */

/* Navbar */
.navbar {
    position: absolute;
    top: 3rem;
    right: 5%;
}

.navbar-link {
    font-size: 2.5rem;
    display: inline-block;
    margin: 1rem 3rem;
    color: var(--white);
    transition: transform 0.5s;
}

.navbar-link:hover {
    transform: scale(1.5);
}
/* End of Navbar */

/* Banner */
.section-1-banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.section-1-banner h1 {
    font-family: "Noto Serif", serif;
    width: 100%;
    font-size: 8rem;
    font-weight: 400;
    color: var(--white);
    letter-spacing: 0.4rem;
    text-shadow: 0.3rem 0.3rem rgba(0,0,0,0.4);
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.section-1-banner p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    color: var(--white);
    width: 60%;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
    text-shadow: 0.3rem 0.2rem rgba(0,0,0,0.4);
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.section-1-banner button {
    width: 25rem;
    height: 5rem;
    background-color: var(--green);
    /* border: none; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    /* text-transform: uppercase; */
    color: var(--white);
    text-shadow: 0.3rem 0.2rem rgba(0,0,0,0.2);
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

@keyframes moveBanner {
    0% {
        transform: translateY(40rem) rotateY(-20deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
/* End of Banner */
/* End of Section 1 */